<!--#########################################################################-->
<!--###############  R E S T R I C T E D  A C C S  P O P U P  ###############-->
<!--#########################################################################-->

    <div class="restricted-accounts-modal" id="restricted-accounts-popup">
        <div class="restricted-accounts-top">
            <div class="restricted-account-txt">
                <p>Restricted Accounts</p>
            </div>
            <div class="restricted-close" id="close-restricted">
                &times;
            </div>
        </div>
            
            <!-- Desktop Table Layout -->
            <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th class="restricted-top-left">Name</th>
                        <th>Email</th>
                        <th>User Role</th>
                        <th>Profile Pictures</th>
                        <th>Status</th>
                        <th class="restricted-top-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Data will be loaded dynamically via JavaScript -->
                </tbody>
            </table>
            </div>
            <div class="table-info">
                Loading...
            </div>

            <div class="pagination-controls">
                <!-- Pagination will be loaded dynamically via JavaScript -->
            </div>
        </div>
    </div>
